.card {
  width: 450px;
  border: 1px solid #30363d;
  margin-top: 20px;
  border-radius: 5px;
  color: #8b949e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card--wrapper h2 {
  color: #8b949e;
}
.repo--details {
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10px;
  color: #0969da;
  cursor: pointer;
}
.repo--details a {
  text-decoration: none;
}
.repo--footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.star--repo {
  margin: 0 10px;
}
