.sidebar {
  width: 350px;
  height: 100vh;
  position: sticky;
  z-index: 1;
  background-color: #0d1117;
  overflow-x: hidden;
  float: left;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar--image {
    position: relative;
    bottom: 20px;
}

.avatar--image img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}
.userdetails {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
.userdetails p {
    color: #8b949e;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.user--followers {
    color: #8b949e;
    cursor: pointer;
}
