.card--container {
  max-width: 800px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 30px auto;
  cursor: pointer;
}
.card--details {
  margin: 10px 20px 20px 20px;
}
.avatar--section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.user--image {
}
.user--image img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.user--details {
  display: block;
  align-self: center;

}
.user--details h5 {
  font-size: 16px;
  margin-bottom: 5px;
}
.user--bio {
  margin: 10px 0;
}
